:root {
    --border-gradient-dark: linear-gradient(128deg, #8fc5e4 20%, #b775db 40%);
}

.darkMode footer {
    background-color: rgb(0, 76, 86);
}
.darkmode .creditText {
    color: rgb(202, 202, 202);
}
.darkMode { /* BODY BACKGROUND */
    background-color: rgb(74, 121, 155);
}
.darkMode h1,
.darkMode p{
    color: white;
}
.darkMode blockquote, 
.darkMode .blockquote-footer,
.darkMode figcaption {
    color: white;
}
.darkMode .nav-link {
    color: rgb(0, 0, 0);
}
/* Dark theme hover animation */
.darkMode .nav-link:hover {
    color: #1c80c2;
    transition: color 0.3s ease-in-out;
}

.darkMode .nav-link.active {
    color: aquamarine;
}
.darkMode .card-body {
    background-color: rgb(103, 166, 169);
}
.darkMode .card-title,
.darkMode .card-text,
.darkMode cite {
    color: white;
}
.darkMode .top-content {
    background-color: rgb(110, 174, 160);
} 
.darkMode .positionTitle {
    color: whitesmoke;
}
.darkMode .mainPicture {
    border-image: var(--border-gradient-dark) 1;
}
.darkMode .skillShowcase {
    color: white;
}
.darkMode .waveEffect {
    background-color: rgb(74, 121, 155);
}
.darkMode .project-card {
    background: linear-gradient(61deg,#1e695a 30%, #2d814c 80%);
}
.darkMode .project-card:hover {
    box-shadow: 1px 1px 32px 2px rgba(108, 188, 225, 0.94);
    transform: scale(1.02);
}