:root {
    --border-gradient: linear-gradient(0deg, #ff7e5f, #feb47b);
    --footer-backg-color: rgba(6, 175, 205);
    --body-backg-color: rgba(189, 255, 209);
    --nav-link-hover-text-color: rgba(86, 177, 147);
    --darkMode-button-hover-backg-color: rgba(201, 222, 243);
    --darkMode-button-hover-border-color: rgba(88, 148, 148);
    --topContent-backg-color: wheat;
    --card-body-backg-color: rgba(191, 247, 228);
    --badge-backg-color: rgba(33, 132, 81);
    --cert-badge-backg-color: rgba(216, 184, 0);
    --project-card-backg-gradient-color: linear-gradient(15deg, #30ba9a 30%, #41a766 80%);
    --project-card-hover-backg-color: rgba(236, 189, 87, 0.94);
    --project-button-border-color: rgba(210, 164, 78);
    --project-button-backg-color: #ededed;
}

/* GENERAL STYLING */
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1, h2, h3, h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
cite {
    color: black;
}
body {
    max-width: 100%;
    margin: 0;
    background-color: var(--body-backg-color);
    overflow-x: hidden;
}
main {
    padding: 10px;
}
footer {
    position:relative;
    width: 100%;
    text-align: center;
    margin: 0;
    bottom: 0;
    left: 0;
    padding: 18px;
    background-color: var(--footer-backg-color);
}
.creditsText {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: auto;
}

/* HEADER CONTENTS */
.waveEffect {
    position: relative;
    width: 100%;
    height: 10vh;
    overflow: hidden;
    background-color: var(--body-backg-color);
}
.waveEffect .wave {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background: url(../images/wave.png);
    transform: rotate(-180deg);
    background-size: 900px 100px;
}
.waveEffect .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
.waveEffect .wave.wave2 {
    animation: animate 10s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
.waveEffect .wave.wave3 {
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -10s;
    bottom: 15px;
}
.waveEffect .wave.wave4 {
    animation: animate 10s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}
.nav-link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    z-index: 2000;
}
.nav-link:hover {
    color: var(--nav-link-hover-text-color);
    transition: color 0.3s ease-in-out;
}
.nav-link.active {
    color:#09f !important;
}

.btn {
    border: 2px solid black;
    border-radius: 50%;
    transition: all 0.3s ease-in;
    background-color: white;
}
.btn:hover{
    background-color: var(--darkMode-button-hover-backg-color);
    border-radius: 40%;
    border-color: var(--darkMode-button-hover-border-color);
}

/* MAIN ELEMENTS */
.top-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    background-color: var(--topContent-backg-color);
    padding: 30px;
    gap: 100px; /* Adds space between items */
}
.header-title {
    color: blanchedalmond;
    font-style: italic;
    animation: colorChange 1.5s linear alternate infinite;
}
@keyframes colorChange {
    0% {color: rgb(132, 198, 167); transform: translateY(-10px);}
    100% {color: rgb(132, 181, 255); transform: translateY(10px);}
}
.positionTitle {
    text-align: center;
    max-width: 700px; /* Limits width for responsiveness */
    margin-top: 0; /* Removes large margin */
}

.mainPicture {
    max-width: 500px; /* Sets max width */
    height: auto;
    background-color: azure;
    border: 5px solid;
    border-image: var(--border-gradient) 1;
    margin-left: 20px;
}
.mainPicture img {
    width: 100%; /* Ensures the image takes up full width of container */
    height: auto; /* Maintains aspect ratio */
    max-width: 500px; /* Limits max width */
    max-height: 600px; /* Limits max height */
}
.row {
    display: flex;
    flex-direction: row;
}
.card {
    background-color: transparent;
}
.card-body {
    background-color: var(--card-body-backg-color);
    border: 1px solid;
    border-image: var(--border-gradient) 1;
    transition: transform 0.3s ease;
}
.card-body .card-title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: black;
}
.card-body .card-text {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: black;
}
.card-body:hover {
    transform: scale(1.02);
}
.card-title-reduced {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.skillShowcase {
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-style: italic;
}
.badge {
    background-color: var(--badge-backg-color);
    padding: 15px;
    margin: 5px 15px 10px;
    transition-duration: 0.3s;
}
.cert {
    text-decoration: none;
    background-color: var(--cert-badge-backg-color);
}
.badge:hover {
    background: grey;
    transform: scale(1.05);
}

/* QUOTE ELEMENT */
.text-center {
    margin: 10px auto; /* Adds margin around the quote, centers it horizontally */
    max-width: 80%; /* Ensure it doesn't stretch too wide on large screens */
}

blockquote {
    margin: 0; /* Removes default margin */
    padding: 5px; /* Adds some padding inside the blockquote */
}

.blockquote-footer {
    font-size: 14px; /* Adjusts font size */
}

/* PROJECT WEBPAGE */
.header-projects-title {
    color: #feb47b;
    font-size: 50px;
}
.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: auto;
    gap: 50px;
}
.card.project-card {
    width: 45rem;
    border: 3px solid;
    border-radius: 0%;
    border-image: var(--border-gradient) 1;
    transition-duration: 0.5s;
    margin: 0;
    background: var(--project-card-backg-gradient-color);
    color: white;
}
.card.project-card:hover {
    box-shadow: 1px 1px 32px 2px var(--project-card-hover-backg-color);
    transform: scale(1.02);
}
.card-img-top {
    width: 100%;
    height: 275px;
    border-bottom: 2px solid;
    border-image: var(--border-gradient) 1;
    border-radius: 0px;
    opacity: 0.9;
}
.projects-title,
.projects-skill-set-text {
    text-align: center;
    margin: 15px 0px 20px 15px;
}
.projects-button {
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    color :rgb(46, 51, 152); /* MIGHT MAKE IT A VARIABLE */
    border: 4px solid var(--project-button-border-color);
    transition-duration: 0.5s;
    margin: 0 auto 20px;
    width: 12rem;
    padding: 5px;
    background-color: var(--project-button-backg-color);
}
.projects-button:hover {
    border-color:steelblue;
    border-radius: 10px;
    transform: scale(1.03);
}

/* CONTACT WEBPAGE */
.main-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    margin: 20px auto auto auto;
    width: 50%;
    border: 2px solid bisque;
    background-color: blanchedalmond;
    border-radius: 20px;
    text-align: center;
    transition: all 0.2s ease;
}
.form-control {
    border-width: 2px;
    border-color: #151716;
}
.submit-button {
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    border: 3px solid rgb(40, 123, 134);
    background-color: rgb(193, 151, 151);
    padding: 8px;
    opacity: 0.6;
    transition: all 0.5s ease;
}
.submit-button:not(.disabled) {
    opacity: 1;
    color: white;
    background-color: rgb(108, 209, 117);
    cursor: pointer;
}
.submit-button:not(.disabled):hover {
    border-radius: 10px;
    transform: scale(1.03);
}
.disabled {
    cursor: not-allowed !important;
}

/* Animations */
@keyframes animate {
    0% { background-position-x: 0;}
    100% {background-position-x: 1000px;}
}

/* RESPONSIVE DESIGN */
@media (min-width: 320px) AND (max-width: 767px) {
    footer {
        padding: 12px;
    }
    .creditsText {
        font-size: 10px;
    }
    blockquote {
        padding: 1px; /* Adds some padding inside the blockquote */
    }
    .top-content {
        flex-direction: column; /* Stacks items vertically on smaller screens */
        gap: 40px;
    }
    .mainPicture {
        margin-left: 0; /* Centers on smaller screens */
    }
}