:root {
    --border-gradient: linear-gradient(0deg, #ff7e5f, #feb47b);
}

/* General */
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1, h2, h3, h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
cite {
    color: black;
}
body {
    max-width: 100%;
    margin: 0;
    background-color: rgb(152, 232, 198);
    overflow-x: hidden;
}
main {
    padding: 10px;
}
footer {
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    padding: 18px;
    background-color: rgb(6, 175, 205);
}
.creditsText {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: auto;
}

/* MISC */
.waveEffect {
    position: relative;
    width: 100%;
    height: 10vh;
    overflow: hidden;
    background-color:  rgb(152, 232, 198);
}
.waveEffect .wave {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background: url(../images/wave.png);
    transform: rotate(-180deg);
    background-size: 900px 100px;
}
.waveEffect .wave.wave1 {
    animation: animate 15s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
.waveEffect .wave.wave2 {
    animation: animate 10s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
.waveEffect .wave.wave3 {
    animation: animate 15s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}
.waveEffect .wave.wave4 {
    animation: animate 10s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}
@keyframes animate {
    0% { background-position-x: 0;}
    100% {background-position-x: 1000px;}
}

/* Navigation */
.nav-link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    z-index: 2000;
}
.nav-link:hover {
    color: rgb(86, 177, 147);
    transition: color 0.3s ease-in-out;
}
.nav-link.active {
    color:#09f !important;
}

.btn {
    border: 2px solid black;
    border-radius: 50%;
    transition: all 0.3s ease-in;
    background-color: white;
}
.btn:hover{
    background-color: rgb(201, 222, 243);
    border-radius: 40%;
    border-color: rgb(88, 148, 148);
}

.top-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    background-color: wheat;
    padding: 30px;
    gap: 100px; /* Adds space between items */
}

.positionTitle {
    text-align: center;
    max-width: 700px; /* Limits width for responsiveness */
    margin-top: 0; /* Removes large margin */
}

.mainPicture {
    max-width: 500px; /* Sets max width */
    height: auto;
    background-color: azure;
    border: 5px solid;
    border-image: var(--border-gradient) 1;
    margin-left: 20px;
}
.mainPicture img {
    width: 100%; /* Ensures the image takes up full width of container */
    height: auto; /* Maintains aspect ratio */
    max-width: 500px; /* Limits max width */
    max-height: 600px; /* Limits max height */
}
.row {
    display: flex;
    flex-direction: row;
}
.card {
    background-color: transparent;
}
.card-body {
    background-color: rgb(191, 247, 228);
    border: 1px solid;
    border-image: var(--border-gradient) 1;
    transition: transform 0.3s ease;
}
.card-body .card-title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: black;
}
.card-body .card-text {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: black;
}
.card-body:hover {
    transform: scale(1.02);
}
.card-title-reduced {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.skillShowcase {
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-style: italic;
}
.badge {
    background-color: rgb(33, 132, 81);
    padding: 15px;
    margin: 5px 15px 10px;
    transition-duration: 0.3s;
}
.cert {
    text-decoration: none;
    background-color: rgb(178, 183, 79);
}
.badge:hover {
    background: grey;
    transform: scale(1.05);
}

/* QUOTE ELEMENT */
.text-center {
    margin: 10px auto; /* Adds margin around the quote, centers it horizontally */
    max-width: 80%; /* Ensure it doesn't stretch too wide on large screens */
}

blockquote {
    margin: 0; /* Removes default margin */
    padding: 5px; /* Adds some padding inside the blockquote */
}

.blockquote-footer {
    font-size: 14px; /* Adjusts font size */
}

/* Contact.html */
#contact_img_links{
    display: flex;
    padding: 5px;
    gap: 10px;
    justify-content: space-evenly;
}
.img_contact{
    width: 95px;
}

/* Projects.html  **DESCRIPTION IS NOT NEXT TO SKILLS** */
.project_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.project_child {
    padding: 20px;
    border: 3px solid black;
    background: linear-gradient(to bottom, rgb(229, 235, 215), rgb(193, 233, 248) 50%);
    height: 340px;
    width: 340px;
    transition: height, width 0.3s ease;
}
.project_child:hover {
    height: 380px;
    width: 380px;
}
.project_title {
    padding-top: 95px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    color:coral;
}
.project_child:hover .project_title {
    animation-name: project_title_anim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.project_status {
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    text-align: center;
    transform: translateY(-20px)
}
.project_description {
    opacity: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}
.project_child:hover .project_description {
    animation-name: project_description_anim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.project_button_container {
    opacity: 0;
    padding-left: 100px;
}
.project_child:hover .project_button_container {
    animation-name: project_button_anim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.project_button {
    width: 180px;
    height: 40px;
    background-color: #09f;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color, color 0.3s linear;
}
.project_button:hover{
    background-color: rgb(0, 119, 198);
    color:springgreen;
}

/* Animations */
@keyframes project_description_anim {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes project_title_anim {
    from {padding-top: 95px;}
    to {padding-top: 50px; color: rgb(11, 101, 236);}
}
@keyframes project_button_anim {
    from {opacity: 0;}
    to {opacity: 1;}
}


/* RESPONSIVE DESIGN */
@media (min-width: 320px) AND (max-width: 767px) {
    footer {
        padding: 12px;
    }
    .creditsText {
        font-size: 10px;
    }
    blockquote {
        padding: 1px; /* Adds some padding inside the blockquote */
    }
    .top-content {
        flex-direction: column; /* Stacks items vertically on smaller screens */
        gap: 40px;
    }
    .mainPicture {
        margin-left: 0; /* Centers on smaller screens */
    }
}