@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

:root {

    /* ===== GENERAL VALUES (Body, Section, Footer, Nav) ===== */
    --body-backg-color: rgba(28, 28, 36, 0.925);
    --nav-link-hover-text-color: rgba(86, 177, 147);
    --topContent-backg-color: wheat;
    --card-body-backg-color: rgba(191, 247, 228);
    --badge-backg-color: rgba(33, 132, 81);
    --cert-badge-backg-color: rgba(216, 184, 0);
    --project-card-backg-gradient-color: linear-gradient(15deg, #30ba9a 30%, #41a766 80%);
    --project-card-hover-backg-color: rgba(236, 189, 87, 0.94);
    --project-button-border-color: rgb(97, 193, 136);
    --project-button-backg-color: #ededed;

    /* ===== CUSTOM COLORS ===== */
    --neon-orange: #ff8c42;
    --neon-pink: #ff4e7b;
    --neon-purple: #a95cff;
    --neon-yellow: #ffcc00;
    --neon-green: #4eea66;
    --peachy: #ff7e5f;
    --saffron: rgb(255, 178, 36);
    --light-warm-color: rgba(255, 215, 156, 0.968);
    --dark-beige-transparent: rgba(170, 142, 108, 0.833);
    --peachy-blue: rgb(103, 157, 190);
}

/* ===== GENERAL STYLYING ===== */
p {
    font-family: 'Rubik', sans-serif;
}
h1, h2, h3, h4 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}
body {
    box-sizing: border-box;
    background-color: var(--body-backg-color);
    margin: 0;
    padding: 0px 150px 0px 150px;
}
li, a {
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    font-weight: 400; 
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

/* ===== COLORS ===== */
.peachy-color {
    color: var(--peachy) !important;
}
.neon-green {
    color: var(--neon-green) !important;
}
.dark-beige {
    color: var(--light-warm-color) !important;
}
.animated-colors {
    background: linear-gradient(45deg , var(--neon-orange), var(--neon-pink), var(--neon-purple), var(--neon-yellow));
    background-clip: text;
    color: transparent;
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
    -webkit-background-clip: text;
}
.fade-in {
    animation: fade-in 2s ease;
}
@keyframes gradient {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
/* ===== CUSTOM TEXT/FONT/SIZE ===== */
.h2-large-text {
    font-size: 3.5rem;
    color: white;
}
.h3-medium-text {
    font-size: 2.5rem;
    color: white;
}
.h4-small-text {    
    font-size: 1.5rem;
    color: white;
}
.h4-smaller-text {
    font-size: 1.2rem;
    color: white;
}
.h5-small-text {
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
}
.p-small-text { 
    width: 600px;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
}
.numeric-data-text {
    font-size: 3.5rem;
}
.p-small-data-text {
    width: 300px;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
}
.honor-text {
    font-family: "Clicker Script", serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: gold;
}
.p-small-description {
    text-wrap: wrap;
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
}
/* ===== MISCELLANEOUS  ===== */
.date-timeframe {
    font-size: 1.2rem;
    color: var(--light-warm-color);
    font-weight: 700;
}
.light-weight {
    font-weight: 500;
}
.bold-weight {
    font-weight: 700;
}
.margin-botton-50 {
    margin-bottom: 50px;
}
.margin-left-100 {
    margin-left: -75px;
}
.hidden {
    display: none;
}

/* ===== NAVBAR ===== */
.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline-block;
    margin: 0 20px;
}
.nav-links li a {
    display: inline-block;
    transition: all 0.3s ease 0s; 
}
.nav-links li a:hover {
    transform: translateY(-5px);
    color: var(--nav-link-hover-text-color);
}
.nav-active {
    border-bottom: 2px var(--neon-orange) solid;
    color: var(--saffron);
}

/* ===== HOME WEBPAGE STYLING ===== */
/* == CONTAINERS == */
.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.data-container {    /* Container style for data section */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 65px;
}

.typewriter-effect { /* Typewriter effect for the name (Might move to another file and export it here) */
    display: inline-block;
    border-right: 4px solid;
    border-color: white;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 3s,
        cursor .4s step-end infinite alternate;
}

/* == HOME IMAGE STYLING == */
.heading-image {
    object-fit:fill;
    margin: 0 50px 0 50px;
    border-radius: 15%;
    border: 2px solid var(--peachy);
}
.animated-border-around {
    border: 2px solid transparent;
    padding: 15px;
    display: inline-block;
    animation: borderAround 1.5s infinite linear;
}
.heading-image img {
    object-fit: cover;
    width: 500px;
    height: 550px;
    border-radius: 15%;
}


/* ===== ABOUT ME WEBPAGE STYLING ===== */
/* == CONTAINERS == */
.details-container {
    padding: 80px;
}
.right-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 65px 80px 0px 80px;
}
.left-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    margin-left: 200px;
    float: left;
}

/* == LEFT CONTAINER DESIGN == */
.details-button {
    width: 500px;
    height: 50px;
    background-color: rgba(72, 72, 75, 0.925);
    border: none;
    border-radius: 15px;
    color: white;
    transition: all 0.3s ease;
}
.details-button a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}
.details-button:hover {
    color: black;
    background-color: var(--peachy);
    transform: scale(1.05);
    letter-spacing: 2px;
}
.details-button.active {
    background-color: var(--peachy);
    color: black;
    transform: scale(1.05);
    letter-spacing: 2px;
}
/* == RIGHT CONTAINER DESIGN == */
.education-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    left: 0;
}
.education-content {
    border: 2px solid;
    border-color: var(--dark-beige-transparent);
    border-radius: 30px;
    padding: 30px;
    width: 350px;
    text-align: center;
    transition: all 0.3s ease;
}
.education-content:hover {
    background-color: var(--dark-beige-transparent);
    transform: scale(1.05);
}
/* == SKILLS CONTAINER DESIGN == */
.logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.logo-text {
    font-size: 1.2rem;
    margin-bottom: 10px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(10px);
    color: rgb(103, 157, 190);
    font-weight: bold;
}
.logo-wrapper:hover .logo-text {
    opacity: 1;
    transform: translateY(0);
}
.logo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}
.logo {
    width: 125px;
    height: 125px;
    border-radius: 10px;
    border: 2px solid var(--peachy-blue);
    padding: 25px;
    transition: all 0.3s ease;
}
.logo:hover {
    background-color: var(--peachy-blue);
    transform: scale(1.05);
}


/* == EXPERIENCE CONTAINER DESIGN == */
.experience-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    left: 0;
}
.experience-content {
    border: 2px solid;
    border-color: #77ac80;
    border-radius: 30px;
    padding: 30px;
    width: 400px;
    text-align: center;
    transition: all 0.3s ease;
}

.experience-content:hover {
    background-color: #77ac80;
    transform: scale(1.05);
}







.row {
    display: flex;
    flex-direction: row;
}
.card {
    background-color: transparent;
}
.card-body {
    background-color: var(--card-body-backg-color);
    border: 1px solid;
    border-image: var(--border-gradient) 1;
    transition: transform 0.3s ease;
}
.card-body .card-title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: black;
}
.card-body .card-text {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: black;
}
.card-body:hover {
    transform: scale(1.02);
}
.card-title-reduced {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.skillShowcase {
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-style: italic;
}
.badge {
    background-color: var(--badge-backg-color);
    padding: 15px;
    margin: 5px 15px 10px;
    transition-duration: 0.3s;
}
.cert {
    text-decoration: none;
    background-color: var(--cert-badge-backg-color);
}
.badge:hover {
    background: grey;
    transform: scale(1.05);
}

/* QUOTE ELEMENT */
.text-center {
    margin: 10px auto; /* Adds margin around the quote, centers it horizontally */
    max-width: 80%; /* Ensure it doesn't stretch too wide on large screens */
}

blockquote {
    margin: 0; /* Removes default margin */
    padding: 5px; /* Adds some padding inside the blockquote */
}

.blockquote-footer {
    font-size: 14px; /* Adjusts font size */
}

/* PROJECT WEBPAGE */
.header-projects-title {
    font-family: "Chakra Petch", serif;
    font-weight: 600;
    color: #000000;
    font-size: 50px;
}
.project-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
}
.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 500px; /* Adjust if necessary */
    padding: 0px 30vw 50px 30vw;
    border-bottom: 2px solid gray;
    opacity: 0;
}
.project-card:nth-child(1) {
    animation: fade-in 1s ease 1s forwards;
}
.project-card:nth-child(2) {
    animation: fade-in 1s ease 2s forwards;
}
.project-card:nth-child(3) {
    animation: fade-in 1s ease 3s forwards;
}
.project-card:nth-child(4) {
    animation: fade-in 1s ease 4s forwards;
    border: none;       /* Removes border from last card */
}
.card-right-shadow {
    box-shadow: 0px 0px 35px 3px rgba(36, 158, 85, 0.607);
}
.card-left-shadow {
    box-shadow: 0px 0px 35px 3px rgba(36, 158, 85, 0.607);
}
.card-img-right, .card-img-left  {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 280px;
    object-fit: cover; /* Ensures the image fills the square without stretching */
    float: right;
}
.card-img-left {
    float: left;
}
.project-title {
    padding-top: 5px;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 70%;
    color: rgb(242, 180, 24);
}
.project-tags {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 10px;
    list-style-type: none;
}
.tag {
    display: inline-block; /* Ensures proper spacing */
    min-width: 80px; /* Adjust this value as needed */
    text-align: center;
    background-color: rgb(87, 186, 181);
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    transition: all 0.5s ease;
    white-space: nowrap; /* Prevents text from breaking */
}
.tag:hover {
    background-color: rgb(102, 222, 216);
}
.project-description {
    font-size: 1.2rem;
    width: 100%;
    color: black;
    text-align: center;
}
.left-text {
    text-align: right;
    margin-right: 20px;
}
.right-text {
    text-align: left;
    margin-left: -20px;
}
.project-button {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 200px;
    position: relative;
    bottom: -15px;
    padding: 5px 15px 5px 15px;
    border: 2px solid var(--project-button-border-color);
    border-radius: 5px;
    background-color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    transition: all 0.3s ease;
}
.project-button:hover {
    background-color: var(--project-button-backg-color);
    border-radius: 10px;
    transform: scale(1.02);
}

/* CONTACT WEBPAGE */
.main-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    margin: 20px auto auto auto;
    width: 50%;
    border: 2px solid rgb(151, 135, 116);
    background-color: blanchedalmond;
    border-radius: 20px;
    text-align: center;
    transition: all 0.2s ease;
}
.form-control {
    border-width: 2px;
    border-color: #151716;
}
.submit-button {
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    border: 3px solid rgb(40, 123, 134);
    background-color: rgb(193, 151, 151);
    padding: 8px;
    opacity: 0.6;
    transition: all 0.5s ease;
}
.submit-button:not(.disabled) {
    opacity: 1;
    color: white;
    background-color: rgb(108, 209, 117);
    cursor: pointer;
}
.submit-button:not(.disabled):hover {
    border-radius: 10px;
    transform: scale(1.03);
}
.disabled {
    cursor: not-allowed !important;
}

/* ===== MAIN PAGE ANIMATIONS ===== */
@keyframes borderAround {
    0% { border-left: 2px solid var(--neon-orange); border-right: 2px solid transparent; border-top: 2px solid transparent; border-bottom: 2px solid transparent; }
    25% { border-top: 2px solid var(--neon-pink); border-bottom: 2px solid transparent; border-left: 2px solid transparent; border-right: 2px solid transparent; }
    50% { border-right: 2px solid var(--neon-purple); border-left: 2px solid transparent; border-top: 2px solid transparent; border-bottom: 2px solid transparent; }
    75% { border-bottom: 2px solid var(--neon-yellow); border-top: 2px solid transparent; border-left: 2px solid transparent; border-right: 2px solid transparent; }
    100% { border-left: 2px solid var(--neon-orange); border-right: 2px solid transparent; border-top: 2px solid transparent; border-bottom: 2px solid transparent; }
}
@keyframes cursor {
    50% {
        border-color: transparent;
    }
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 570px;
    }
}
/* Project Animations (Obsolete?)*/
@keyframes animate {
    0% { background-position-x: 0;}
    100% {background-position-x: 1000px;}
}
@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}




/* RESPONSIVE DESIGN */
@media (min-width: 320px) AND (max-width: 767px) {
    footer {
        padding: 12px;
    }
    .creditsText {
        font-size: 10px;
    }
    blockquote {
        padding: 1px; /* Adds some padding inside the blockquote */
    }
    .top-content {
        flex-direction: column; /* Stacks items vertically on smaller screens */
        gap: 40px;
    }
    .mainPicture {
        margin-left: 0; /* Centers on smaller screens */
    }
}
@media (max-width: 768px) {
    .project-container {
        flex-direction: row; /* Stack items on smaller screens */
        align-items: center;
    }
    .card-img-right, .card-img-left {
        max-width: 90%; /* Allow flexibility */
        height: auto;
    }
    .project-title, .project-description {
        text-align: center;
        width: 90%;
    }
    .project-button {
        max-width: 500px;
    }
    .project-tags {
        justify-content: center;
    }
}
